<?xml version="1.0"?>
<configuration>
  <!--
  Authentication
  With these credentials you can use your private app to access your store through the Shopify API.
  API key
  64a46d8d7f1d768c449d4ebaf092xxx
  Password
  df13f9d9a3a198f3e8598ad8d3fcxxx
  Shared secret
  6ed166a8fd2d8f46a2f7006f3c56xxx
  URL format
  https://apikey:password@hostname/admin/resource.json
  Example URL
  https://64a46d8d7f1d768c449d4ebaf092cf21:df13f9d9a3a198f3e8598ad8d3fcf881@schutzonline.myshopify.com/admin/orders.json-->
  <appSettings>
    <add key="AppMode" value="test"/>
    <add key="DEBUG" value="false"/>
    <add key="ECOM_ApiKey" value="64a46d8d7f1d768c449d4ebaf092xxx"/>
    <add key="ECOM_ApiPassword" value="df13f9d9a3a198f3e8598ad8d3fcxxx"/>
    <add key="NY_ApiKey" value="64a46d8d7f1d768c449d4ebaf092xxx"/>
    <add key="NY_ApiPassword" value="df13f9d9a3a198f3e8598ad8d3fcxxx"/>
    <add key="LA_ApiKey" value="64a46d8d7f1d768c449d4ebaf092xxxx"/>
    <add key="LA_ApiPassword" value="df13f9d9a3a198f3e8598ad8d3fcxxx"/>
    <add key="LogFile" value="D:\Websites\SchutzAPI\logs\"/>
    <add key="ProductsFile" value="D:\Websites\SchutzAPI\products\"/>
    <add key="ProductsSingleFile" value="D:\Websites\SchutzAPI\products_singles\{0}_PRODUCT_{1}_{2}.xml"/>
    <add key="CrossRefFile" value="D:\Websites\SchutzAPI\concept_dev\"/>
    <add key="ProductsSourceFile" value="C:\Users\Diegos\Documents\_Arezzo\SKU_fix\products_schutzonline_plain_csv\products_schutzonline_plain_csv.csv"/>
    <add key="ECOM_ProductsGetLocation" value="https://schutzonline.myshopify.com/admin/products.xml"/>
    <add key="ECOM_SingleProductGetLocation" value="https://schutzonline.myshopify.com/admin/products/{0}.xml"/>
    <add key="ECOM_ProductsPutLocation" value="https://schutzonline.myshopify.com/admin/products/{0}.json"/>
    <add key="ECOM_ProductsCountLocation" value="https://schutzonline.myshopify.com/admin/products/count.xml"/>
    <add key="NY_ProductsGetLocation" value="https://schutzonline.myshopify.com/admin/products.xml"/>
    <add key="NY_ProductsPutLocation" value="https://schutzonline.myshopify.com/admin/products/{0}.json"/>
    <add key="NY_ProductsCountLocation" value="https://schutzonline.myshopify.com/admin/products/count.xml"/>
    <add key="LA_ProductsGetLocation" value="https://schutzonline.myshopify.com/admin/products.xml"/>
    <add key="LA_ProductsPutLocation" value="https://schutzonline.myshopify.com/admin/products/{0}.json"/>
    <add key="LA_ProductsCountLocation" value="https://schutzonline.myshopify.com/admin/products/count.xml"/>
    <add key="LeakyBucketBreakMiliSec" value="10000"/>
    <add key="STITCH_test" value="false"/>
    <add key="STITCH_make_test_file" value="false"/>
    <add key="STITCH_VariantsGetLocation" value="https://api-pub.stitchlabs.com/api2/v2/Variants"/>
    <add key="STITCH_AccessToken" value="7ac1d38fb4230dd76001689b5706f64a971dxxxx"/>
    <add key="STITCH_table" value="D:\Websites\SchutzAPI\stitch\Stitch_Table.txt"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
